<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <section> 
      <%= recipe.name %><br>
      <a href="/recipes">All Recipes</a>
      
      <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button type="submit"> Delete Recipe</button>
      </form>
      <form action="/recipes/<%= recipe._id %>/edit" method="GET">
        <button type="submit"> Edit Recipe</button>
      </form>
  </section>

  <section>
    <h2>Instruction</h2>
    <form action="/recipes/<%= recipe._id%>/instructions" method="POST">
      <label>The Instruction</label>
      <textarea name="steps" id="steps"></textarea>
      <button type="submit"> Save Your Instruction</button>
    </form>
  </section>









</body>
</html>